<!-- template for postings -->
<script id='posting-template' type='text/x-handlebars-template'>
  <div class='posting-infobar-wrapper'>
    <div class='posting-infobar'>
      <a href="#" onclick="return showUser('{{posterId}}');">{{posterName}}</a>
      » {{date}}
    </div>
  </div>
  <div class='posting-content-wrapper'>
    <table>
      <tr>
        <td>
          <div class='posting-image'>
            <img src={{imageUrl}} onclick="return showImage('{{imageUrl}}');">
          </div>
        </td>
        <td>
          <div class='posting-comments'>
            <ul class="comments-list">
              {{#each comments}}
              <li><strong>{{this.nickname}}</strong> {{this.text}}</li>
              {{/each}}
            </ul>
            <div id="add-comment-{{id}}" class='posting-comments'>
              <a href="#" onclick="showCommentInput('{{id}}');">add a comment</a>
            </div>
            <div id="comment-input-{{id}}" style="display: none;">
              <input id="comment-input-box-{{id}}" size="50" type='text'
                     onkeypress="return addComment('{{id}}', this, event);"/>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</script>

<script type="text/javascript" src="/javascripts/index.js"></script>

<div id="postings-container"></div>
