<!-- templates -->
<script id='posting-template' type='text/x-handlebars-template'>
    <div id={{id}} class='posting'>
        <div class='posting-infobar-wrapper'>
            <div class='posting-infobar'>
                <a href="#" onclick="return showUser('{{posterId}}');">{{posterName}}</a>
                » {{date}}
            </div>
        </div>
        <div class='posting-image-wrapper'>
            <div class='posting-image'>
                <img src={{imageUrl}} onclick="return showImage('{{imageUrl}}');">
            </div>
        </div>
    </div>
</script>

<script type="text/javascript">
    var postingSource = $('#posting-template').html();
    var postingTemplate = Handlebars.compile(postingSource);

    var mostRecentPostId = 0;
    var latestPostId = 0;

    $(document).ready(function () {
        $.get('/posting/getLatestPostings', function (docs) {
            for (var i = 0; i < docs.length; i++) {
                addNewPost(docs[i]);
            }
        });
    });

    function addNewPost(post) {
        var newPost = postingTemplate({
            id:post._id,
            posterName:post.nickname,
            posterId:post.userId,
            date:$.format.date(new Date(post.createdAt), 'MM/dd h:mma'),
            imageUrl:post.imageUrl
        });

        if (latestPostId === 0) {
            latestPostId = post._id;
        }

        mostRecentPostId === 0 ? $('#postings-container').html(newPost) : $('#' + mostRecentPostId).before(newPost);
        mostRecentPostId = post._id;
    }
</script>

<div id="postings-container"></div>
