<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>#external festivus</title>
    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700'
          rel='stylesheet'
          type='text/css'>

    <!-- css -->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href='/stylesheets/reveal.css'/>

    <!-- js -->
    <script src="/javascripts/jquery-1.4.4.min.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.reveal.js" type="text/javascript"></script>
    <script src="/javascripts/handlebars.js" type="text/javascript"></script>
    <script src="/javascripts/users.js" type="text/javascript"></script>

    <!-- templates -->
    <script id='user-template' type='text/x-handlebars-template'>
        <a href="#" onclick="return showUser('{{userId}}');">{{userName}}</a>
    </script>

    <script id="user-modal-template" type='text/x-handlebars-template'>
        <h1>{{name}} <font color=green>{{inviter}}</font></h1>
        {{email}}<br/>
        upvotes : {{upvotes}}<br/>
        downvotes : {{downvotes}}<br/>
        posts: {{posts}}<br/>
        reposts: {{reposts}}<br/>

    </script>

    <script type='text/javascript'>
        var userSource = $('#user-template').html();
        var userTemplate = Handlebars.compile(userSource);
        var userModalSource = $('#user-modal-template').html();
        var userModalTemplate = Handlebars.compile(userModalSource);
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            getCurrentUser(function (user) {
                $('#current_user').html(userTemplate({userId:user._id, userName:user.nickname}));
            });

            $('#submitInvite').click(function () {
                $.post('send_invite', {email:$('#emailAddressToInvite').val()}, function (data) {
                    $('#inviteStatus').html(data);
                });
            });
        });

        function showUser(userId) {
            getUser(userId, function (user) {
                var modalContent = userModalTemplate({
                    name:user.nickname,
                    email:user.email,
                    downvotes:user.downvotes,
                    upvotes:user.upvotes,
                    posts:user.posts,
                    reposts:user.reposts,
                    inviter:(user.can_invite ? "CAN INVITE" : "")
                });
                $('#usermodal_content').html(modalContent);
                $('#userModal').reveal();
            });
        }
    </script>
</head>
<body>
<!-- header -->
<table width=100%>
    <tr>
        <td width=50%>
            <a href="https://github.com/cloudezero/cloudezero">src</a> |
            <a href="https://github.com/cloudezero/cloudezero/issues">bugs</a>
        </td>
        <td width=50% align="right">
            logged in as <span id="current_user"></span> |
            <a href="#" data-reveal-id="inviteModal">send invite</a> |
            <a href="/logout">logout</a>
        </td>
    </tr>
</table>
<hr>

<!-- body -->
<%- body %>
<!-- footer -->

<!-- modals -->
<div id="inviteModal" class="reveal-modal">
    <h1>Invite a friend</h1>

    <p>
        <label for="emailAddressToInvite">email address </label>
        <input type="text" id="emailAddressToInvite" placeholder="bronstein@aol.com"/>
        <input type="button" id="submitInvite" value="send"/>
    </p>

    <p id="inviteStatus"></p>
    <a class="close-reveal-modal">&#215;</a>
</div>

<div id="userModal" class="reveal-modal">
    <p id="usermodal_content"></p>
    <a class="close-reveal-modal">&#215;</a>
</div>
</body>
</html>