<html>
<head>
    <title>YOU'VE GOT LULZ</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<form id="login-form" action="login" method="post">
    <div align="center"><img src="/images/aol-logo.jpg"/></div>
    <input type="text" id="user" name="user" placeholder="ashley"/>
    <input type="password" id="password" name="password" placeholder="all4god"/>
    <input id="submit" type="submit" value="Log On"/>
</form>
</body>
</html>