<div id='more-postings'>
  <i class='icon-circle-arrow-down'></i>
  &nbsp;show more postings&nbsp;
  <i class='icon-circle-arrow-down'></i>
</div>
<script type='text/javascript'>
  $('#more-postings').click(function () {
    postings.loadMorePostings();
  });
</script>