<div id="navbar-view-menu">
  <span id="navbar-view-menu-icon"><i class="icon-caret-right"></i></span> viewing :
  <span id="navbar-view-current-view">most recent</span>
</div>
|
<a href="https://github.com/cloudezero/cloudezero/issues" target="_blank"><i class="icon-github"></i> issues</a> |
<a href="https://chrome.google.com/webstore/detail/cloudezero-extension/dnknklfndofeafbhgpkelkmddgnccmec"
   target="_blank"><i class="icon-download"></i> extension</a> |
<a href="#" data-reveal-id="inviteModal"><i class="icon-envelope"></i> invite</a> |
<a href="/logout"><i class="icon-signout"></i>logout</a>

<script type="text/javascript">
  var navbarViewMenuShown = false;

  $('#navbar-view-menu').click(function () {
    if (navbarViewMenuShown) {
      $('#navbar-view-menu-icon').html('<i class="icon-caret-right">');
      navbarViewMenuShown = false;
      $('#menu-dropdown').hide(500);
    } else {
      $('#navbar-view-menu-icon').html('<i class="icon-caret-down">');
      navbarViewMenuShown = true;
      $('#menu-dropdown').show(500);
    }
  });
</script>
