body {
  margin: 0px;
  font-family: 'Inconsolata', sans-serif;
  font-size: 16px;
}

#header-wrap a {
  color: #ffffff;
  text-decoration: none;
}

#header-wrap a:hover {
  color: #aaff4c;
}

#header-wrap {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  height: 29px;
  width: 100%;
  position: fixed;
  top: 0;
  margin: 0 auto;
  z-index: 100000;
  opacity: 0.8;
  padding: 0;
}

#footer-wrap {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  z-index: 100000;
  opacity: 0.8;
  padding: 0;
}

#header-left {
  float: left;
  padding: 5px;
}

#header-right {
  float: right;
  padding: 5px;
  display: inline;
}

.navbar {
  display: inline;
}

.navbar li {
  display: inline;
}

.navbar li:before {
  content: "\00BB \0020";
}

#postings-container {
  margin-top: 29px;
}

.posting img {
  max-height: 800px;
  max-width: 800px;
}

.posting {
  margin-bottom: 15px;
}

.posting-infobar-wrapper {
  height: 29px;
  width: 100%;
  position: static;
  margin: 0 auto;
  padding: 0;
  font-family: 'Inconsolata', sans-serif;
}

.posting-infobar a {
  color: #000000;
  text-decoration: none;
}

.posting-infobar a:hover {
  color: #5d9529;
}

.posting-infobar {
  float: left;
  padding: 5px;
}

.posting-comments {
  font-family: helvetica, sans-serif;
}

.posting-comments a {
  color: #000000;
  text-decoration: none;
}

.posting-comments a:hover {
  color: #5d9529;
}

.posting-comments ul {
  list-style-type: none;
}

.posting-comments li:before {
  content: "\00BB \0020";
}



