@font-face {
  font-family: "bariol_bold";
  src: url("fonts/bariol_bold.otf");
}

@font-face {
  font-family: "bariol_light";
  src: url("fonts/bariol_light.otf");
}

body {
  margin: 0px;
  font-family: "bariol_light", sans-serif;
  font-size: 16px;
}

#header-wrap a {
  color: #ffffff;
  text-decoration: none;
}

#header-wrap a:hover {
  color: #aaff4c;
}

#header-wrap {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  height: 29px;
  width: 100%;
  position: fixed;
  top: 0;
  margin: 0px auto;
  z-index: 100000;
  opacity: 0.8;
  padding: 0;
}

#footer-wrap {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  height: 29px;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 0px auto;
  z-index: 100000;
  opacity: 0.8;
  padding: 0;
}

#header-left {
  float: left;
  padding: 5px;
}

#header-right {
  float: right;
  padding: 5px;
  display: inline;
}

.navbar {
  display: inline;
}

.navbar li {
  display: inline;
}

.navbar li:before {
  content: "\00BB \0020";
}

#postings-container {
  margin-top: 33px;
}

